body {
    background-color: #FAFAFA;
}

#load-error, #general, #enter-by-address, #enter-by-geolocation, #submit-button,
.edit-buttons, #add-location-success, #add-location-error,
#edit-location-success, #edit-location-error {
    display: none;
}

input[type=text], input[type=number] {
    margin: 0 !important;
}

#submit-button {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

#submit-button > button {
    margin-bottom: 10px;
}

.edit-buttons {
    text-align: right;
}

.edit-buttons > button {
    margin-top: 10px;
}

.edit-buttons > #cancel-edit-location {
    background-color: #F93947;
    margin-bottom: 20px;
}

.edit-buttons > #submit-edit-location {
    background-color: #4BE034;
    margin-bottom: 20px;
}

#location-list > div.location {
    padding: 10px;
    border-bottom: inset;
}

#location-list > div.location:hover {
    background-color: #EAEAEA;
}

#location-list div.edit a, #location-list div.delete a {
    margin-top: 10px;
}

#location-list div.edit a {
    color: #F8A100;
    float: right;
}

#location-list div.delete a {
    color: #F93947;
    float: right;
}

h6 {
    font-size: larger;
}

.material-icons {
    vertical-align: bottom;
}

#show-more-locations-btn-div {
    margin-top: 20px;
    text-align: center;
}