body {
    background-color: #FAFAFA;
}

#load-error, #add-org-success, #add-org-error, #supers-load-error,
#all-locations-load-error, #show-more-locations-btn, #edit-supers-load-error,
#edit-org-success, #edit-org-error, .edit-buttons,
.hidden {
    display: none;
}

input[type=text], input[type=tel], input[type=email] {
    margin: 0 !important;
}

.select-wrapper span.caret {
    font-size: 0px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    font-size: inherit;
}

#manage-locations-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #FF8E3B;
}

#all-locations-list p.location {
    padding: 10px 0px 10px 10px;
}

#all-locations-list p.location:hover {
    background-color: #EAEAEA;
}

#show-more-locations-btn-div {
    margin-top: 20px;
    text-align: center;
}

#show-more-locations-btn {
    padding: 10px 25px 10px 25px;
}

#submit-button {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px
}

.edit-buttons {
    text-align: right;
}

.edit-buttons > button {
    margin-top: 10px;
}

.edit-buttons > #cancel-edit-org {
    background-color: #F93947;
}

.edit-buttons > #submit-edit-org {
    background-color: #4BE034;
}

#edit-org-success, #edit-org-error {
    margin-top: 20px;
}

hr {
    margin-bottom: 0;
}

h6 {
    font-size: larger;
}

.material-icons {
    vertical-align: bottom;
}

#org-list div.default {
    padding-top: 10px;
    border-bottom: inset;
}

#org-list div.default:hover {
    background-color: #EAEAEA;
}

#org-list div.edit a, #org-list div.delete a {
    margin-top: 10px;
}

#org-list div.edit a {
    color: #F8A100;
    float: right;
}

#org-list div.delete a {
    color: #F93947;
    float: right;
}

#org-list div.default h6 i {
    float: right;
}

#org-list div.arrow {
    text-align: right;
    margin-top: -18px;
}

#org-list div.arrow i {
    font-size: 14pt;
}

#org-list div.expand {
    display: none;
}

.modal .modal-content {
    background-color: #FAFAFA;
}