body {
    background-color: #FAFAFA;
}

#load-error, #supers-load-error, #all-locations-load-error, #add-sighting-error,
#add-sighting-success, #edit-sighting-error, #edit-sighting-success, .edit-buttons {
    display: none;
}

input[type=text] {
    margin:0 !important;
}

.select-wrapper > span.caret {
    font-size: 0px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    font-size: inherit;
}

#all-locations-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #FF8E3B;
}

#all-locations-list > p.location {
    padding: 10px 0px 10px 10px;
}

#all-locations-list p.location:hover {
    background-color: #EAEAEA;
}

#show-more-locations-btn-div {
    margin-top: 20px;
    text-align: center;
}

#submit-button {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

#submit-button > button {
    margin-bottom: 10px;
}

.edit-buttons {
    text-align: right;
}

.edit-buttons > button {
    margin-top: 10px;
}

.edit-buttons > #cancel-edit-sighting {
    background-color: #F93947;
    margin-bottom: 20px;
}

.edit-buttons > #submit-edit-sighting {
    background-color: #4BE034;
    margin-bottom: 20px;
}

.input-group-btn:last-child > .btn {
    margin-left: 20px;
}

#search-results-div div.edit a {
    color: #F8A100;
    float: right;
}

#search-results-div div.delete a {
    color: #F93947;
    float: right;
}