body {
    background-color: #FAFAFA;
}

#load-error, #powers-load-error, #organizations-load-error, #add-super-success,
#add-super-error, #edit-powers-load-error, #edit-organizations-load-error,
#edit-super-success, #edit-super-error, #all-powers-load-error, #add-power-success,
#add-power-error, #super-list div.expand, #all-powers-list div.edit-power,
#show-more-powers-btn, .hidden {
    display: none;
}

input[type=text] {
    margin: 0 !important;
}

#add-power-button, #edit-add-power-button {
    margin-left: 10px;
    color: #47D631;
}

.collection .collection-item {
    background-color: inherit;
}

.collection .collection-item:hover {
    background-color: #EAEAEA;
}

#power-list li, #edit-power-list li {
    display: flow-root;
}

#power-list #remove-power-button, #edit-power-list #edit-remove-power-button {
    color: #F93947;
    float: right;
}

.select-wrapper span.caret {
    font-size: 0px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    font-size: inherit;
}

#submit-button {
    text-align: right;
    margin-top: 20px;
}

#manage-powers-btn-div {
    text-align: center;
}

#manage-powers-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #FF8E3A;
}

#add-new-power-btn a {
    color: #47D631;
}

#all-powers-header {
    text-align: center;
}

#all-powers-list div {
    border-bottom-style: inset;
}

#all-powers-list div.power {
    padding: 2vh 1vw 1vw 1vh;
}

#all-powers-list div.power:hover {
    background-color: #EAEAEA;
}

#all-powers-list a {
    float: right;
    color: #FFBA3A;
}

#all-powers-list a.cancel-edit-power {
    color: #FB6F08;
}

#all-powers-list a.save-edit-power {
    color: #47D631;
}

#show-more-powers-btn-div {
    margin-top: 20px;
    text-align: center;
}

#show-more-powers-btn {
    padding: 10px 25px 10px 25px;
}

hr {
    margin: 0;
}

h6 {
    font-size: larger;
}

#super-list div.default {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom-style: inset;
}

#super-list div.default:hover {
    background-color: #EAEAEA;
}

img {
    max-width: 50px;
    max-height: 50px;
}

#super-list div.arrow {
    text-align: right;
    margin-top: -18px;
}

#super-list div.arrow i {
    font-size: 14pt;
}

.material-icons {
    vertical-align: bottom;
}

#super-list div.edit a, #super-list div.delete a {
    margin-top: 10px;
}

#super-list div.edit a, #all-powers-list a.edit-master-power {
    color: #F8A100;
    float: right;
}

#super-list div.delete a, #all-powers-list a.delete-master-power {
    color: #F93947;
    float: right;
}

.modal .modal-content {
    background-color: #FAFAFA;
}